<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
      <%= favicon_link_tag 'imgHouse/logo.png' %>
    <%= render "layouts/shim" %>
  </head>
  <%= content_tag :body, data: { action: action_name, controller: controller_name } do %>
    <div id="a" class="loading">
      <div id="preload" class="preload-container text-center">
        <div class="loades">
          <div class="cricle cr1">
          </div>
          <div class="cricle cr2">
          </div>
          <div class="cricle cr3">
          </div>
        </div>
        <div class=" logo">
          <%= image_tag "imgHouse/logo.png" %>
        </div>
        <div class="font_text">
        </div>
        <div class="text">
          CHIA SẺ THÔNG TIN - TÌM KIẾM PHÒNG TRỌ
        </div>
      </div>
    </div>
    <div class="full_img">
      <%= render "layouts/header" %>
      <div class="containers" >
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>
      <%= render "layouts/footer" %>
    </div>
  <% end %>
</html>
